*{
	padding: 10;
	margin: 0;
	box-sizing: border-box;
	}
h2{
	font-size: 40px;
	font-family: 'KoHo', sans-serif;
	height: 100px;
	color: #f5a209;
    background-image: linear-gradient(rgba(228, 168, 57, 0.2),rgba(0,0,0,0.9)),url(images/bg2.jpg);
	background-size: cover;
}
table {
	letter-spacing: 1.2px;
	color: rgba(27, 15, 61, 0.89);
	margin-bottom: 80px;
	padding-top: 5px;
	margin-top: 1px;
}
td{
	text-align: center;
	padding: 5px;
}
button{
	border:none;
	background: #db920bcc;
    transition: 1s;
}
@media only screen and (orientation: portrait){
	*{
		letter-spacing: 1px;
	}
}